@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Many Years;
    src: url(../fonts/Many\ Years\ Higher.ttf);
}
@font-face {
    font-family: DOS;
    src: url(../fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf);
}
#fuente-personalizada{
    font-family: Many Years;
    font-size: 34px;
    color: rgba(54, 54, 241, 0.658);
}
#fuente-dos{
    font-family: DOS;
    font-size: 14px;
   
}

.navbar #fuente-dos {

    font-family: DOS;
    font-size: 18px;
   
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    background: white;
    color: black;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    
}
h3{
    font-size: large;
    font-weight: 100;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    font-weight: 100;
    margin: 20px 0;
    
}
img{
    width: 100%;
} 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    /*Sets a radial-gradient (2 colors) as a background image for a <div> element*/
    background-image: linear-gradient(#e66465, #9198e5);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3d2ee;
    color: white;
    /* opacity: 0.8; */
    width: 100%;
    height: 70px;
    position: relative;
    top: 0px;
    padding: 0 30px;
}
.navbar a{
    color: white;
    padding: 10px 20px;
    margin: o 5px;
}
.navbar a:hover{
    border-bottom: whitesmoke 2px solid;
}
.navbar ul{
    display: flex;
}
.navbar .logo{
    font-weight: 400;
}


/* #education hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right:55%;
    border-style: solid;
    border-width: 1px;
}
#education p{
    margin-bottom: 1px;
}
#education h3{
    color: blue;
    font-weight: bold;
}
#education li{
    list-style-type: square;
} */
#aboutme a{
    color: blue;
}

/*TIME LINE*/
.con{
    /* Used to position the left vertical line */
    position: relative;
}

.container__line {
    /* Border */
    border-right: 3px solid #cac7f1;

    /* Positioned at the left */
    left: 16px;
    position: absolute;
    top: 0px;

    /* Take full height */
    height: 100%;
}

 .container__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item {
    margin-bottom: 8px;
}

.container__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.container__circle {
    /* Rounded border */
    background-color: #cac7f1;
    border-radius: 9999px;

    /* Size */
    height: 32px;
    width: 32px;
}

.container__title {
    /* Take available width */
    flex: 1;
}

.container__desc {
    /* Make it align with the title */
    margin-left: 48px;
}
/* SLIDER */
.slider-container{
    margin: auto;
    width: 390px;
    padding: 30px;
    overflow: hidden; /* ocultar las imagenes fuera */
    background-color: #fcfcfcda;
  
  } 
  /*QUITAR ESTILOS DE LISTA*/
#container ul, li {
    list-style: none;
      padding: 0;
      margin: 0;
      
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  /*BOTONES SLIDER*/
  .menu{
    text-align: center;
    margin: 60px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 90%;
  }
/* FORM*/
#contactme .contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    padding: 30px;
}
  
input, textarea{
    width: 24%;
    padding: 4px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid violet;
    border-radius: 9px;
}
#enviar{
  background-color: #adeee9;
  border: outset;
  color: black;
  padding: 10px 22px;
  border-radius: 6px;
  margin: 2px 2px;
  cursor: pointer;
}

  .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e3d2ee;
    color: white;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0px;
    padding: 0 30px;
}

 