@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Many Years;
    src: url(../fonts/Many\ Years\ Higher.ttf);
}
@font-face {
    font-family: DOS;
    src: url(../fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf);
}
#fuente-personalizada{
    font-family: Many Years;
    font-size: 34px;
    color: rgba(54, 54, 241, 0.658);
}
#fuente-dos{
    font-family: DOS;
    font-size: 14px;
   
}

.navbar #fuente-dos {

    font-family: DOS;
    font-size: 18px;
   
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    color: black;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    
}
h3{
    font-size: large;
    font-weight: 100;
    line-height: 20px;
    /* text-align: center; */
}
p{
    font-weight: 100;
    margin: 20px 0;
    
}
img{
    width: 100%;
} 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    /*Sets a radial-gradient (2 colors) as a background image for a <div> element*/
    background-image: linear-gradient(#e66465, #9198e5);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3d2ee;
    color: white;
    /* opacity: 0.8; */
    width: 100%;
    height: 70px;
    position: relative;
    top: 0px;
    padding: 0 30px;
}
.navbar a{
    color: white;
    padding: 10px 20px;
    margin: o 5px;
}
.navbar a:hover{
    border-bottom: whitesmoke 2px solid;
}
.navbar ul{
    display: flex;
}
.navbar .logo{
    font-weight: 400;
}


#grafica{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.slider-container{
    margin: auto;
    width: 400px;
    padding: 30px;
    background-color: #fcfcfcda;
  
  } 
  /*QUITAR ESTILOS DE LISTA*/
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 60px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 90%;
  }

  
