.text-primary{
    color:#f7f6f8;
}
.text-secondary{
    color: blue;
}

.bg-primary{
    background: #cac7f1;
    color: white;
}

.bg-secondary{
    background: rgb(255, 237, 248);
    color: black;
}
.bg-dark{
    background: black;
    color: white;
}
.bg-light{
    background: lightgray;
    color: black; 
}
/* */
.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 30px;
    text-align: center;
    padding: 20px;
}
section{
    flex: 70%;
    text-align: justify;
    padding: 20px;
}

/* MOBILE */
@media(max-width: 768px){
    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a{
        padding: 10px 10px;
        margin: 0 3px;
    }
    .row img {
        width: 50%; 
        padding: 30px 0 0 0;
      }
   section .slider-container{
        margin: auto;
        background-color: #fcfcfcda;
        width: 300px;
        padding: 30px;
      } 
      section .slider-container img{
        padding: 0;
    }
    #aboutme #education hr{
        margin-left: auto;
        margin-right:auto;
    }
    #contactme .contactform input{
        width: 84%;
        
    }
    #contactme .contactform textarea{
        width: 84%;
        
    }
    .hidden-mobile {
        display: none;
      }
      Canvas {

        transform: translate(0%, -50%);
        
      } 
} 
